<div class="py-3">
  <div class="row g-4">
    <div class="col-md-6">
      <label class="form-label">Prénom</label>
      <input class="form-control" placeholder="Saisir" value="Khadija" />
    </div>

    <div class="col-md-6">
      <label class="form-label">Nom</label>
      <input class="form-control" placeholder="Saisir" value="Sow" />
    </div>

    <div class="col-md-6">
      <label class="form-label">Téléphone</label>
      <input class="form-control" placeholder="Saisir" value="77 111 11 11" disabled />
    </div>

    <div class="col-md-6">
      <label class="form-label">Email</label>
      <input class="form-control" type="email" placeholder="Saisir" value="ksow@gmail.com" disabled />
    </div>

    <div class="col-md-6">
      <label class="form-label">Adresse</label>
      <input class="form-control" placeholder="Saisir" value="Dakar" />
    </div>

      <div class="col-md-12">
        <button class="button button-primary">Mettre à jour</button>
      </div>
  </div>

</div>
