<div class="p-3">
  <div class="flex-row-between">
    <h3 class="title-bo">Création d'un utilisateur</h3>
  </div>

  <nav aria-label="breadcrumb" class="breadcrumb-bo">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:(0)" [routerLink]="'/users'"
          >Gestion des utilisateurs</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Création d'un utilisateur
      </li>
    </ol>
  </nav>

  <div class="container_page">
    <!-- header -->
    <div class="container_page-header">
      <h3 class="subtitle-bo">Informations générales</h3>
    </div>

    <form>
      <div class="row g-4 mt-2">
        <div class="col-lg-4">
          <label class="form-label">Prénom <span class="fw-bold text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Saisir" />
        </div>
        <div class="col-lg-4">
          <label class="form-label">Nom <span class="fw-bold text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Saisir" />
        </div>
        <div class="col-lg-4">
          <label class="form-label">Téléphone <span class="fw-bold text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Saisir" />
        </div>
        <div class="col-lg-4">
          <label class="form-label">Email <span class="fw-bold text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Saisir" />
        </div>


        <div class="col-lg-4">
          <label class="form-label">Profil <span class="fw-bold text-danger">*</span></label>
          <select class="form-select">
            <option value="" selected disabled>
              Sélectionner un profil
            </option>
            <option *ngFor="let profil of profils" [value]="profil">
              {{ profil }}
            </option>
          </select>
        </div>

          <div class="col-lg-4">
        <label class="form-label"
          >Rôles <span class="fw-bold text-danger">*</span></label
        >
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
            />
            <label class="form-check-label">Lecture</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
            />
            <label class="form-check-label">Écriture</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
            />
            <label class="form-check-label">Modification</label>
          </div>
        </div>
      </div>

      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="dflex-start mt-4">
            <button
              class="button button-primary"
              type="button"
              (click)="onSave()"
            >
              Enregistrer
            </button>
            <button
              class="button button-outline-primary"
              type="button"
              (click)="onReset()"
            >
              Annuler
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
