<div class="p-3">
  <div class="row g-3">
    <div class="col-lg-6">
      <a class="card__boxmenu" (click)="goToPage('list')">
        <i class="material-icons">bed</i>
        <h5>Gestion des Chambres</h5>
      </a>
    </div>
    <div class="col-lg-6">
      <a class="card__boxmenu" (click)="goToPage('menages')">
        <i class="material-icons">group</i>
        <h5>Ménages</h5>
      </a>
    </div>
    <div class="col-lg-6">
      <a class="card__boxmenu" (click)="goToPage('approvisionnement')">
        <i class="material-icons">category</i>
        <h5>Approvisionnement</h5>
      </a>
    </div>
  </div>
</div>
